@charset "UTF-8";
.img-blank {
  width: 93px;
  height: 60px;
  display: block;
  vertical-align: middle;
}

.community {
  overflow: hidden;
  margin-top: 50px;
}

.community__inner {
  width: 1000px;
  float: right;
}

.community__inner .filter-cate {
  margin-bottom: 15px !important;
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  height: 56px;
  line-height: 56px;
}

.community__inner .filter-cate .filter-cate__inner ul li {
  float: left;
}

.community__inner .filter-cate .filter-cate__inner ul li a {
  padding: 0 20px;
}

.community__inner .filter-cate .filter-cate__inner ul li a:hover {
  color: #6332f6;
}

.community__inner .filter {
  margin-top: 15px !important;
}

.community__inner .filter ul li {
  float: left;
}

.community__inner .filter ul li button {
  font-size: 20px;
}

.community__inner .filter ul li.btn {
  float: right;
}

.community__inner .filter ul li.btn button {
  margin-top: -15px;
}

.community__inner .filter ul li.btn button img {
  width: 40px;
}

.community__inner .filter ul li:nth-of-type(1) {
  margin-right: 25px;
}

.community__cont {
  margin-top: 30px;
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  margin-bottom: 30px;
  article: nth-last-of-type(1);
  article-border: none;
}

.community__cont article {
  padding: 8px 16px;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #e8e8ed;
}

.community__cont article .desc {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.community__cont article .desc ul li.tit a {
  font-size: 14px;
}

.community__cont article .desc ul li.tit a em {
  color: #6332f6;
}

.community__cont article .desc ul li.tit a:hover {
  color: #6332f6;
}

.community__cont article .desc ul li.tit a:active {
  color: #aaaaaa;
}

.community__cont article .desc ul li.meta-data {
  font-size: 14px;
  color: #9b9b9b;
  margin-top: 4px;
}

.community__cont article .img {
  display: table-cell;
  vertical-align: middle;
}

.community__cont article .img img {
  width: 93px;
  height: 60px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.community__btn {
  text-align: center;
  margin-bottom: 15px;
}

.community__btn ul {
  display: inline-block;
}

.community__btn ul li {
  float: left;
}

.community__btn ul li button {
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  height: 48px;
  width: 80px;
}

.community__btn ul li button img {
  vertical-align: middle;
  width: 15px;
}

.community__btn ul li button span {
  vertical-align: middle;
}

.community__btn ul li button.prev img {
  margin-right: 5px;
}

.community__btn ul li button.next img {
  margin-left: 5px !important;
}

.community__btn ul li:nth-of-type(1) {
  margin-right: 10px;
}

/*----------커뮤니티 디테일뷰-------------*/
.community-detailview {
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
}

.community-detailview__header {
  padding: 20px;
  border-bottom: 1px solid #e8e8ed;
}

.community-detailview__header .tit {
  font-size: 25px;
}

.community-detailview__header .sub-tit {
  margin-top: 15px;
}

.community-detailview__header .sub-tit .profile-img {
  display: inline-block;
}

.community-detailview__header .sub-tit .profile-img img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #e8e8ed;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

.community-detailview__header .sub-tit .profile-img .user-name {
  display: inline-block;
  color: #9b9b9b;
  vertical-align: middle;
}

.community-detailview__header .sub-tit .desc {
  float: right;
  display: inline-block;
}

.community-detailview__header .sub-tit .desc div {
  margin-right: 8px;
  color: #9b9b9b;
  vertical-align: middle;
  display: inline-block;
}

.community-detailview__header .sub-tit .desc div em {
  margin-left: 4px;
}

.community-detailview__cont .inner {
  padding: 30px;
}

.community-detailview__cont .inner p {
  margin-bottom: 20px;
}

.community-detailview__cont .inner p img {
  display: block;
}

.community-detailview__btn {
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  padding: 20px;
  margin-top: 20px;
}

.community-detailview__btn button {
  margin-right: 40px;
}

.community-detailview__btn button img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.community-detailview__btn button span {
  vertical-align: middle;
}

.community-detailview__btn button.commnet {
  cursor: default;
}

.community-detailview__write {
  margin-top: 20px;
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
}

.community-detailview__write textarea {
  width: 100%;
  border: 0;
  padding: 20px;
}

.community-detailview__write .btn {
  padding: 0 20px;
  height: 56px;
}

.community-detailview__write .btn button {
  line-height: 56px;
  float: right;
  color: #6332f6;
  font-weight: 500;
}

.community-detailview__commnet {
  margin-top: 20px;
  -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
          box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  margin-bottom: 10px;
}

.community-detailview__commnet article .article-main .article-main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #e8e8de;
}

.community-detailview__commnet article .article-main .article-main__wrap .profile-img {
  margin-right: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.community-detailview__commnet article .article-main .article-main__wrap .profile-img img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #e8e8ed;
}

.community-detailview__commnet article .article-main .article-main__wrap .desc {
  vertical-align: middle;
  width: 100%;
}

.community-detailview__commnet article .article-main .article-main__wrap .desc .user-name {
  font-size: 14px;
  font-weight: 500;
}

.community-detailview__commnet article .article-main .article-main__wrap .desc .cont {
  font-size: 14px;
  margin-top: 8px;
}

.community-detailview__commnet article .article-main .article-main__wrap .btn {
  margin-top: 8px;
}

.community-detailview__commnet article .article-main .article-main__wrap .btn button {
  font-size: 14px;
  margin-right: 12px;
  color: #9b9b9b;
}

.community-detailview__commnet article .article-main .article-main__wrap .btn button em {
  margin-left: 4px;
}

.community-detailview__commnet article .article-main .article-main__write {
  padding: 20px 20px 20px 72px;
  border-bottom: 1px solid #e8e8de;
  background-color: #f8f9fa;
}

.community-detailview__commnet article .article-main .article-main__write .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e8ed;
}

.community-detailview__commnet article .article-main .article-main__write .inner textarea {
  border: none;
  width: 100%;
  padding: 20px 15px 0px 10px;
  overflow: hidden;
}

.community-detailview__commnet article .article-main .article-main__write .inner button {
  color: #6332f6;
  width: 100px;
}

.community-detailview__commnet article .article-sub .article-sub__wrap {
  padding: 20px 20px 20px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8de;
  background-color: #f8f9fa;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .profile-img {
  margin-right: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .profile-img img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #e8e8ed;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .desc {
  vertical-align: middle;
  width: 100%;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .desc .user-name {
  font-size: 14px;
  font-weight: 500;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .desc .cont {
  font-size: 14px;
  margin-top: 8px;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .desc .cont span {
  background-color: #0096c6;
  padding: 2px 5px 2px 5px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 10px;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .btn {
  margin-top: 8px;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .btn button {
  background-color: #f8f9fa;
  font-size: 14px;
  margin-right: 12px;
  color: #9b9b9b;
}

.community-detailview__commnet article .article-sub .article-sub__wrap .btn button em {
  margin-left: 4px;
}

.community-detailview__commnet article .article-sub .article-sub__write {
  padding: 20px 20px 20px 72px;
  border-bottom: 1px solid #e8e8de;
  background-color: #f8f9fa;
}

.community-detailview__commnet article .article-sub .article-sub__write .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e8ed;
}

.community-detailview__commnet article .article-sub .article-sub__write .inner textarea {
  border: none;
  width: 100%;
  padding: 20px 15px 0px 10px;
  overflow: hidden;
}

.community-detailview__commnet article .article-sub .article-sub__write .inner button {
  color: #6332f6;
  width: 100px;
}

.article-sub:nth-last-of-type(1) {
  border: 0;
}

/*----------커뮤니티 글쓰기------------*/
.community-write__inner {
  width: 1000px;
  float: right;
}

.community-write__inner input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.community-write__inner .cont {
  width: 100%;
  height: 500px;
  background-color: #9b9b99;
  opacity: 0.2;
}

.community-write__inner .btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.community-write__inner .btn button {
  margin-right: 5px;
  margin-left: 5px;
  width: 180px;
  height: 56px;
  border: 1px solid #e8e8ed;
  color: #9b9b9b;
}

.community-write__inner .btn button.okay {
  border: 1px solid #6332f6;
  color: #6332f6;
}
/*# sourceMappingURL=community.css.map */