@charset "UTF-8";
@media (max-width: 480px) {
  /*---------레이아웃---------*/
  .container {
    width: 100% !important;
  }
  .m_border {
    background-color: #e8e8ed;
    height: 10px;
  }
  .row {
    padding: 0px 15px;
  }
  .community-live .community-live__inner {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .pagination.other {
    margin-top: 15px !important;
  }
  .add-btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /*-------aside--------*/
  /*--none---*/
  .aside__728x90--index,
  .aside__160x600--trand-issue,
  .aside__250x250--trand-issue,
  .aside__728x90--trand-issue__detailview,
  .aside__250x250--trand-issue__detailview,
  .aside__160x600--trand-issue__detailview,
  .aside__728x90--community,
  .aside__160x600--cum-r,
  .aside__160x600--cum-l,
  .aside__728x90--money,
  .aside__160x600--money-l,
  .aside__160x600--money-r,
  .aside__728x90--hot-deal,
  .aside__160x600--hot-deal-l,
  .aside__160x600--hot-deal-r {
    display: none;
  }
  /*--block--*/
  .aside__320x100--index,
  .aside__320x100--trand-issue__detailview,
  .aside__320x100--community,
  .aside__320x100--money,
  .aside__320x100--hot-deal {
    display: block;
  }
  /*---------------헤더-------------*/
  .trand-issue__logo {
    display: none;
  }
  .header {
    width: 100% !important;
    height: 58px;
    position: relative;
  }
  .header .m-nav__btn {
    display: block;
    display: inline-block;
  }
  .header .m-nav__btn button {
    padding: 18px 0px 10px 0px;
  }
  .header .m-nav__btn button img {
    width: 24px;
    height: 24px;
  }
  .header .m-back__btn {
    display: block;
    display: inline-block;
  }
  .header .m-back__btn button {
    padding: 20px 0px 10px 0px;
  }
  .header .m-back__btn button img {
    width: 18px;
    height: 18px;
  }
  .header nav {
    display: none;
  }
  .header .header__tit {
    display: block;
    margin-top: 5px;
    position: absolute;
    float: none;
    margin-left: 0;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 58px;
    line-height: 58px;
    font-size: 18px;
  }
  .header .header__logo {
    position: absolute;
    float: none;
    margin-left: 0;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 58px;
  }
  .header .header__logo a img {
    width: 110px;
  }
  /*--------------네비게이션드로어--------------*/
  .m-nav {
    display: block;
    margin-left: -100%;
  }
  .m-nav .m-nav__inner {
    display: block;
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    z-index: 5010;
  }
  .m-nav .m-nav__inner .m-nav__login {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }
  .m-nav .m-nav__inner .m-nav__login button {
    color: #ffffff;
    height: 56px;
    border-radius: 30px;
    width: 80%;
    background-color: #6332f6;
  }
  .m-nav .m-nav__inner .m-nav__menu {
    border-top: 1px solid #e8e8ed;
    padding: 15px;
    color: #9b9b9b;
    font-size: 14px;
  }
  .m-nav .m-nav__inner .m-nav__menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
  }
  /*-----------푸터---------------*/
  .footer {
    background-color: #f6f9ff;
    margin-top: 20px !important;
    padding: 20px 0 !important;
  }
  .footer .inner ul li {
    float: left;
  }
  .footer .inner ul li a {
    display: inline-block;
    padding: 0;
  }
  /*--------------인덱스--------------*/
  .add-btn__index {
    margin-bottom: 30px;
    margin-top: 20px !important;
  }
  .add-btn__index .inner {
    width: 80% !important;
  }
  .banner-index .banner-index__black-cover {
    height: 200px !important;
  }
  .banner-index .desc {
    font-size: 20px;
  }
  .banner-index button {
    display: none !important;
  }
  .banner-index .banner-index__img {
    display: none;
  }
  .banner-index-mobile {
    display: block !important;
  }
  .banner-index-mobile button {
    display: none !important;
  }
  .banner-index-mobile img {
    display: block;
  }
  .trand-issue__index {
    margin-top: 30px;
  }
  .moeny-tip__index {
    margin-top: 30px;
  }
  .moeny-tip__index h1 {
    font-size: 20px !important;
    margin-bottom: 20px;
  }
  .container-2 {
    width: 100% !important;
  }
  .container-2 h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .container-2 article .trand-issue__banner {
    width: 100% !important;
  }
  .container-2 article .trand-issue__banner .banner__black-cover {
    width: 100% !important;
  }
  .container-2 article .trand-issue__banner .desc .tit {
    font-size: 20px !important;
  }
  .hotdeal-issue__index {
    margin-bottom: 30px;
  }
  .hotdeal-issue__index h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .community__index {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .community__index article {
    padding: 0 !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    float: none !important;
    width: 100% !important;
    margin-right: 0 !important;
  }
  .community__index article .tit a {
    font-size: 14px;
  }
  .community__index article .inner ul {
    margin-top: 10px;
  }
  .community__index article .inner ul li {
    margin-top: 5px;
  }
  .community__article--free {
    display: none !important;
  }
  .ad-taboola__index {
    margin-bottom: 0;
  }
  .money-tip__index {
    margin-top: 30px !important;
  }
  .money-tip__index h1 {
    font-size: 20px;
    margin-bottom: 20px !important;
  }
  .money-tip__index .money-tip__list--index .money-tip__list-item--index a .desc {
    margin-top: 10px;
  }
  .money-tip__index .money-tip__list--index .money-tip__list-item--index a .desc .tit {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .money-tip__index .money-tip__list--index .money-tip__list-item--index a .desc .author {
    margin-top: 10px;
    color: #9b9b9b;
    font-size: 13px;
  }
  .money-tip__index .money-tip__list--index .money-tip__list-item--index a:hover .tit {
    color: #6332f6;
  }
  /*--------------트렌드 태그------------*/
  .trand-issue__inner {
    margin-top: 30px !important;
    float: none;
    width: 100%;
    width: 100% !important;
  }
  .trand-issue__inner h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .trand-issue__inner .filter {
    margin-bottom: 20px !important;
  }
  .trand-issue__inner .filter ul li button {
    font-size: 18px;
  }
  .trand-issue__inner article .trand-issue__banner {
    width: 100% !important;
  }
  .trand-issue__inner article .trand-issue__banner .banner__black-cover {
    width: 100% !important;
  }
  .trand-issue__inner article .trand-issue__banner .desc .tit {
    font-size: 20px !important;
  }
  article.trand-issue__article {
    margin-bottom: 5px;
  }
  article.trand-issue__article .trand-issue__banner {
    text-align: center;
  }
  article.trand-issue__article .trand-issue__banner .desc {
    padding: 20px;
    bottom: 10px !important;
  }
  article.trand-issue__article .trand-issue__banner .desc .tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  article.trand-issue__article a .trand-issue__tag-name {
    font-size: 16px;
  }
  article.trand-issue__article:nth-last-of-type(1) {
    margin-bottom: 5px;
  }
  /*-------------돈되는 꿀팁정보----------*/
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  .money-tip {
    margin-top: 30px !important;
  }
  .money-tip__inner {
    width: 100%;
    float: none;
  }
  .moeny-tip__list {
    margin-top: 10px !important;
  }
  .moeny-tip__list ul li {
    width: 48%;
    margin-right: 4%;
    float: left;
    margin-bottom: 15px !important;
  }
  .moeny-tip__list ul li a .img img {
    width: 100%;
  }
  .moeny-tip__list ul li a .desc {
    margin-top: 10px;
  }
  .moeny-tip__list ul li a .desc .tit {
    font-size: 14px;
    height: 42px;
  }
  .moeny-tip__list ul li a .desc .author {
    font-size: 13px;
    margin-top: 10px;
    color: #9b9b9b;
  }
  .moeny-tip__list ul li a:hover .tit {
    color: #6332f6;
  }
  .moeny-tip__list li:nth-child(2n + 0) {
    margin-right: 0 !important;
  }
  /*--------돈되는꿀팁 디테일뷰----------*/
  .money-tip-detailview {
    width: 100%;
    margin-top: -30px;
  }
  .money-tip-detailview__header .tit {
    font-size: 20px;
  }
  .money-tip-detailview__header .sub-tit {
    font-size: 14px;
  }
  .money-tip-detailview__cont .inner {
    padding: 20px;
  }
  .money-tip-detailview__cont .inner p img {
    width: 100%;
  }
  /*-------------핫딜있쓔-------------------*/
  .hotdeal-issue {
    margin-top: 30px !important;
  }
  .hotdeal-issue__inner {
    width: 100%;
    float: none;
  }
  .hotdeal-issue__search {
    margin-top: 10px;
  }
  .hotdeal-issue__list ul li {
    float: left;
    width: 48%;
    margin-right: 4%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
  }
  .hotdeal-issue__list ul li a .img {
    padding: 30px;
  }
  .hotdeal-issue__list ul li a .desc .tit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #424242;
    font-size: 14px;
    font-family: s-core-dream-regular;
  }
  .hotdeal-issue__list ul li a .desc .price {
    margin-top: 20px;
    color: #111111;
    font-size: 20px;
  }
  .hotdeal-issue__list ul li a .desc .fee {
    margin-top: 5px;
    color: #9b9b9b;
    font-size: 13px;
  }
  .hotdeal-issue__list ul li a .desc .icon {
    margin-top: 5px;
    font-size: 10px;
    color: #ffffff;
    overflow: hidden;
  }
  .hotdeal-issue__list ul li a .desc .icon .icon__site {
    padding: 3px 5px;
    background-color: #6332f6;
    float: left;
    margin-right: 5px;
    display: inline-block;
  }
  .hotdeal-issue__list ul li a .desc .icon .icon__cum {
    padding: 3px 5px;
    background-color: #d2d6d9;
    float: left;
    display: inline-block;
  }
  .hotdeal-issue__list ul li a .desc .btn {
    float: right;
    margin-top: 10px;
  }
  .hotdeal-issue__list ul li a .desc .btn .share img {
    width: 20px;
  }
  .hotdeal-issue__list ul li a .desc .btn .like {
    margin-left: 10px;
  }
  .hotdeal-issue__list ul li a .desc .btn .like img {
    width: 20px;
  }
  .hotdeal-issue__list ul li a:hover .tit {
    color: #6332f6;
  }
  .hotdeal-issue__list li:nth-child(2n + 0) {
    margin-right: 0 !important;
  }
  .hotdeal-issue__list li:nth-of-type(5n + 0) {
    margin-right: 4%;
  }
  /*-------------커뮤니티--------------*/
  .community {
    margin-top: 5px !important;
  }
  .community__inner {
    float: none;
    width: 100% !important;
  }
  .community__inner .filter-cate {
    display: none;
    margin-bottom: 15px !important;
    -webkit-box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
            box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
    height: 56px;
    line-height: 56px;
  }
  .community__inner .filter-cate .filter-cate__inner ul li {
    float: left;
  }
  .community__inner .filter-cate .filter-cate__inner ul li a {
    font-size: 14px;
    padding: 0 20px;
  }
  .community__inner .filter-cate .filter-cate__inner ul li a:hover {
    color: #6332f6;
  }
  .community__inner .filter {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .community__inner .filter ul li {
    float: left;
  }
  .community__inner .filter ul li button {
    font-size: 16px !important;
  }
  .community__inner .filter ul li.btn {
    margin-top: 8px;
    float: right;
  }
  .community__inner .filter ul li.btn button img {
    width: 30px !important;
  }
  .community__inner .filter ul li:nth-of-type(1) {
    margin-right: 25px;
  }
  .community__cont {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  /*-----커뮤니티 디테일뷰-----*/
  .community-detailview {
    margin-top: 0px !important;
  }
  .community-detailview__header .tit {
    font-size: 20px !important;
  }
  .community-detailview__header .sub-tit {
    font-size: 14px;
  }
  .community-detailview__header .sub-tit .desc div {
    margin-top: 5px;
  }
  .community-detailview__cont .inner {
    padding: 20px !important;
  }
  .community-detailview__btn,
  .community-detailview__write,
  .community-detailview__commnet {
    margin-top: 10px !important;
  }
  .community-detailview__commnet article .article-sub__wrap,
  .article-sub__wrtie,
  .article-main__wrtie {
    padding: 20px 20px 20px 50px !important;
  }
  /*-----------커뮤니티 글쓰기---------*/
  .community-write__inner {
    width: 100% !important;
  }
  .community-write__inner .btn button {
    width: 40% !important;
  }
  /*----------트랜드이슈 디테일뷰------------*/
  .banner-issue-tag {
    height: 400px;
  }
  .banner-issue-tag .banner__black-cover {
    height: 400px;
  }
  .banner-issue-tag .banner-issue-tag__tit {
    font-size: 25px;
    text-align: left;
  }
  .trnas-issue-detailveiw__desc {
    margin-bottom: 10px;
  }
  .trnas-issue-detailveiw__desc .tit {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .trnas-issue-detailveiw__article {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .trnas-issue-detailveiw__article .tit {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .trnas-issue-detailveiw__article .cont ul li {
    margin-bottom: 10px;
  }
  .trnas-issue-detailveiw__article .cont ul li a {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .trnas-issue-detailveiw__youtube {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .trnas-issue-detailveiw__youtube .tit {
    font-size: 20px;
  }
  .trnas-issue-detailveiw__youtube .cont ul li {
    padding: 10px 0;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .thumbnail {
    width: 120px;
    height: 120px;
    position: relative;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .thumbnail img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    width: 120px;
    height: 90px;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .desc {
    width: 62%;
    padding: 10px;
    height: 120px;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__tit {
    font-size: 16px;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__sub-tit {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .trnas-issue-detailveiw__youtube .cont ul li .desc .youtub__athor {
    bottom: 0;
  }
  .trnas-issue-detailveiw__opinion-vote {
    margin-top: 30px;
  }
  .trnas-issue-detailveiw__opinion-vote .btn ul li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .trnas-issue-detailveiw__opinion-vote .btn ul li button {
    height: 56px;
    width: 130px;
  }
  .trnas-issue-detailveiw__opinion-vote .btn ul li button span {
    top: 78px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet {
    margin-top: 70px;
    margin-bottom: 10px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet .commnet-btn {
    margin-top: 30px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet .commnet-btn ul li button {
    margin-right: 20px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet .commnet-btn ul li button img {
    width: 40px;
    height: 40px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article {
    padding: 10px;
  }
  .trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc {
    margin-right: 25px;
  }
  /*----팝업----*/
  /*-- 글쓰기 팝업---*/
  .pop-up__commnet-write {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .pop-up__commnet-write .inner {
    width: 100vw;
  }
  /*-- 댓글보기 팝업--*/
  .pop-up__commnet-view {
    width: 100%;
    height: 100vh;
    position: fixed;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .pop-up__commnet-view .inner {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .pop-up__commnet-view .inner .cont .opinion {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .pop-up__commnet-view .inner .cont .commnet {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .pop-up__commnet-view .inner .cont .commnet-write .inner textarea {
    width: 80vw;
  }
  .pop-up__commnet-view .inner .cont .commnet-write .inner button {
    width: 60px;
  }
}
/*# sourceMappingURL=media_mobile.css.map */