@charset "UTF-8";
.trans-issue {
  overflow: hidden;
}

.trand-issue__inner {
  float: left;
  width: 730px;
  margin: 0 auto;
  margin-top: 50px;
}

.trand-issue__inner h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.trand-issue__inner h1 em {
  font-weight: 500;
  color: #6332f6;
}

.trand-issue__inner .filter {
  text-align: center;
  margin-bottom: 30px;
}

.trand-issue__inner .filter ul {
  display: inline-block;
}

.trand-issue__inner .filter ul li {
  float: left;
}

.trand-issue__inner .filter ul li button {
  font-size: 20px;
}

.trand-issue__inner .filter ul li:nth-of-type(1) {
  margin-right: 30px;
}

article.trand-issue__article {
  margin-bottom: 10px;
}

article.trand-issue__article a .trand-issue__tag-name {
  font-size: 25px;
  color: #111111;
}

article.trand-issue__article a .trand-issue__banner {
  margin-top: 10px;
  height: 150px;
  width: 730px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url(/img/banner-index.jpg);
}

article.trand-issue__article a .trand-issue__banner .banner__black-cover {
  background-color: #000000;
  opacity: 0.7;
  width: 730px;
  height: 150px;
}

article.trand-issue__article a .trand-issue__banner .desc {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  font-weight: 300;
  padding: 20px;
}

article.trand-issue__article a .trand-issue__banner .desc .tit {
  font-size: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 100 !important;
}

article.trand-issue__article a .trand-issue__banner .desc .sub-tit {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

article.trand-issue__article a .trand-issue__banner .desc .sub-tit em {
  color: #ffffff;
  font-weight: 400;
}

article.trand-issue__article a:hover .trand-issue__tag-name {
  color: #6332f6;
}

article.trand-issue__article a .trand-issue_border {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background-color: #e8e8ed;
}

article.trand-issue__article:nth-last-of-type(1) {
  margin-bottom: 0;
}

/*--------------트랜드 이슈 디테일뷰--------------*/
.banner-issue-tag {
  margin-bottom: 50px;
  height: 900px;
  background: url(../img/banner-index.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.banner-issue-tag .banner__black-cover {
  background-color: #000000;
  opacity: 0.7;
  height: 900px;
  position: relative;
}

.banner-issue-tag .banner-issue-tag__tit {
  width: 100%;
  text-align: center;
  z-index: 1000;
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Nanum Myeongjo", serif;
}

.trnas-issue-detailveiw__desc {
  margin-bottom: 70px;
}

.trnas-issue-detailveiw__desc .tit {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.trnas-issue-detailveiw__article {
  margin-bottom: 40px;
}

.trnas-issue-detailveiw__article .tit {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.trnas-issue-detailveiw__article .cont ul li {
  border-bottom: 1px solid #e8e8ed;
  margin-bottom: 20px;
}

.trnas-issue-detailveiw__article .cont ul li a {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 20px;
}

.trnas-issue-detailveiw__article .cont ul li a:hover {
  color: #6332f6;
}

.trnas-issue-detailveiw__article .cont ul li a:active {
  color: #aaaaaa;
}

.trnas-issue-detailveiw__youtube {
  margin-top: 50px;
  margin-bottom: 40px;
}

.trnas-issue-detailveiw__youtube .tit {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.trnas-issue-detailveiw__youtube .cont ul li {
  overflow: hidden;
  border-bottom: 1px solid #e8e8ed;
  padding: 20px 0;
}

.trnas-issue-detailveiw__youtube .cont ul li .thumbnail {
  float: left;
  width: 320px;
  height: 180px;
}

.trnas-issue-detailveiw__youtube .cont ul li .thumbnail img {
  width: 320px;
  width: 100%;
  display: block;
  height: 180px;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc {
  height: 180px;
  width: 56%;
  float: left;
  padding: 20px 10px;
  position: relative;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__tit {
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__tit a:hover {
  color: #6332f6;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__tit a:active {
  color: #aaaaaa;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc .youtube__sub-tit {
  color: #9b9b9b;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.trnas-issue-detailveiw__youtube .cont ul li .desc .youtub__athor {
  position: absolute;
  bottom: 20px;
  color: #9b9b9b;
  font-size: 14px;
}

.trnas-issue-detailveiw__opinion-vote {
  margin-top: 50px;
}

.trnas-issue-detailveiw__opinion-vote .btn {
  text-align: center;
}

.trnas-issue-detailveiw__opinion-vote .btn ul {
  display: inline-block;
}

.trnas-issue-detailveiw__opinion-vote .btn ul li {
  margin-right: 25px;
  margin-left: 25px;
  float: left;
}

.trnas-issue-detailveiw__opinion-vote .btn ul li button {
  position: relative;
  color: #333333;
  text-align: center;
  width: 150px;
  height: 68px;
  border-radius: 37px;
  -webkit-box-shadow: rgba(41, 42, 43, 0.1) 0px 4px 10px, rgba(41, 42, 43, 0.04) 0px 1px 0px;
          box-shadow: rgba(41, 42, 43, 0.1) 0px 4px 10px, rgba(41, 42, 43, 0.04) 0px 1px 0px;
}

.trnas-issue-detailveiw__opinion-vote .btn ul li button span {
  position: absolute;
  top: 88px;
  left: 50%;
  color: #333333 !important;
}

.trnas-issue-detailveiw__opinion-vote .btn ul li button:hover {
  background-color: #6332f6;
  color: #ffffff;
}

.trnas-issue-detailveiw__opinion-conmmnet {
  margin-top: 80px;
  margin-bottom: 40px;
}

.trnas-issue-detailveiw__opinion-conmmnet .inner {
  border-top: 1px solid #e8e8ed;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-btn {
  margin-top: 50px;
  margin-bottom: 30px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-btn ul li {
  float: left;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-btn ul li button {
  margin-right: 20px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-btn ul li button img {
  width: 40px;
  height: 40px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article {
  border: 1px solid #e8e8ed;
  margin-bottom: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .profile-img {
  margin-right: 10px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e8e8ed;
  -o-object-fit: cover;
     object-fit: cover;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc {
  position: relative;
  width: 100%;
  font-size: 14px;
  margin-right: 56px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc .user-name {
  font-weight: 500;
  color: #111111;
  margin-bottom: 5px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc .cont img {
  margin-top: 10px;
  display: block;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc .commnet-add-btn {
  margin-top: 10px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .desc .commnet-add-btn button {
  font-size: 14px;
  color: #9b9b9b;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .like-btn {
  position: relative;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .like-btn button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  vertical-align: middle;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .like-btn button img {
  width: 16px;
}

.trnas-issue-detailveiw__opinion-conmmnet .commnet-inner article .like-btn button div {
  font-size: 14px;
}

/*---------------팝업--------------*/
.pop-up__commnet-view {
  display: blocks;
  background-color: #ffffff;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5010;
  top: 50%;
  left: 50%;
}

.pop-up__commnet-view .inner {
  width: 730px;
}

.pop-up__commnet-view .inner .pop-up__header {
  height: 56px;
  border-bottom: 1px solid #6332f6;
}

.pop-up__commnet-view .inner .pop-up__header button {
  margin-top: 20px;
  margin-left: 20px;
}

.pop-up__commnet-view .inner .pop-up__header button img {
  width: 20px;
  height: 20px;
}

.pop-up__commnet-view .inner .cont .opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8ed;
  padding: 20px;
}

.pop-up__commnet-view .inner .cont .opinion .profile-img {
  margin-right: 10px;
}

.pop-up__commnet-view .inner .cont .opinion .profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e8e8ed;
  -o-object-fit: cover;
     object-fit: cover;
}

.pop-up__commnet-view .inner .cont .opinion .user-desc {
  width: 100%;
}

.pop-up__commnet-view .inner .cont .opinion .user-desc .user-name {
  font-size: 14px;
  font-weight: 500;
}

.pop-up__commnet-view .inner .cont .opinion .user-desc .user-opinion {
  margin-top: 5px;
  font-size: 14px;
}

.pop-up__commnet-view .inner .cont .commnet {
  border-bottom: 1px solid #e8e8ed;
  overflow: scroll;
  height: 400px;
  -ms-overflow-style: none;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px 10px 40px;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article .profile-img {
  margin-right: 10px;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article .profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e8e8ed;
  -o-object-fit: cover;
     object-fit: cover;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article .user-desc {
  width: 100%;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article .user-desc .user-name {
  font-size: 14px;
  font-weight: 500;
}

.pop-up__commnet-view .inner .cont .commnet .commnet-article .user-desc .user-commnet {
  margin-top: 5px;
  font-size: 14px;
}

.pop-up__commnet-view .inner .cont .commnet::-webkit-scrollbar {
  display: none !important;
}

.pop-up__commnet-view .inner .commnet-write {
  height: 56px;
}

.pop-up__commnet-view .inner .commnet-write .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8ed;
}

.pop-up__commnet-view .inner .commnet-write .inner textarea {
  padding: 15px 20px;
  width: 100%;
  height: 56px;
  border: 0;
}

.pop-up__commnet-view .inner .commnet-write .inner button {
  height: 56px;
  line-height: 56px;
  width: 130px;
  color: #6332f6;
  font-weight: 500;
}

.pop-up__commnet-write {
  display: none;
  background-color: #ffffff;
  z-index: 5010;
  background-color: #ffffff;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5010;
  top: 50%;
  left: 50%;
}

.pop-up__commnet-write .inner {
  width: 730px;
}

.pop-up__commnet-write .inner .pop-up__header {
  height: 56px;
  border-bottom: 1px solid #6332f6;
  z-index: 10;
}

.pop-up__commnet-write .inner .pop-up__header button.cancel {
  margin-top: 18px;
  padding: 0 20px;
  background-color: transparent !important;
}

.pop-up__commnet-write .inner .pop-up__header button.cancel img {
  width: 20px;
  height: 20px;
}

.pop-up__commnet-write .inner .pop-up__header button.write {
  background-color: transparent !important;
  padding: 0 20px;
  margin-top: 18px;
  float: right;
  color: #6332f6;
  font-weight: 500;
}

.pop-up__commnet-write .inner .cont {
  padding: 20px;
}

.pop-up__commnet-write .inner .cont textarea {
  width: 100%;
  height: 200px;
  border: 0;
}

.pop-up__commnet-write .inner .pop-up__commnet-write-footer {
  height: 56px;
}

.pop-up__commnet-write .inner .pop-up__commnet-write-footer button {
  padding-left: 20px;
}

.pop-up__commnet-write .inner .pop-up__commnet-write-footer button img {
  width: 35px;
}
/*# sourceMappingURL=trand-issue.css.map */