@import "partial/styles";
@media (max-width: 480px) {
  /*---------레이아웃---------*/
  .container {
    width: 100% !important;
  }

  .m_border {
    background-color: #e8e8ed;
    height: 10px;
  }

  .row {
    padding: 0px 15px;
  }

  .community-live {
    .community-live__inner {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }

  .pagination.other {
    margin-top: 15px !important;
  }

  .add-btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /*-------aside--------*/

  /*--none---*/
  .aside__728x90--index,
  .aside__160x600--trand-issue,
  .aside__250x250--trand-issue,
  .aside__728x90--trand-issue__detailview,
  .aside__250x250--trand-issue__detailview,
  .aside__160x600--trand-issue__detailview {
    display: none;
  }

  /*--block--*/
  .aside__320x100--index,
  .aside__320x100--trand-issue__detailview {
    display: block;
  }

  /*----*/

  .aside-test__728x90,
  .aside__728x90,
  .aside-test__160x600,
  .aside-test__250x250,
  .aside-test__160x600--cum-r,
  .aside-test__160x600--cum-l,
  .aside-trand-issue__detailview__160x600,
  .aside-trand-issue__detailview__250x250 {
    display: none;
  }

  .aside-test__320x100,
  .aside__320x100 {
    display: block;
  }

  /*---------------헤더-------------*/
  .header {
    width: 100% !important;
    height: 58px;
    position: relative;
    .m-nav__btn {
      display: block;
      display: inline-block;
      button {
        padding: 18px 0px 10px 0px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .m-back__btn {
      display: block;
      display: inline-block;
      button {
        padding: 20px 0px 10px 0px;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    nav {
      display: none;
    }

    .header__tit {
      display: block;
      margin-top: 5px;
      position: absolute;
      float: none;
      margin-left: 0;
      left: 50%;
      top: 43%;
      transform: translate(-50%, -50%);
      height: 58px;
      line-height: 58px;
      font-size: 18px;
    }
    .header__logo {
      position: absolute;
      float: none;
      margin-left: 0;
      left: 50%;
      top: 43%;
      transform: translate(-50%, -50%);
      height: 58px;
      a {
        img {
          width: 110px;
        }
      }
    }
  }

  /*--------------네비게이션드로어--------------*/
  .m-nav {
    display: block;
    margin-left: -100%;
    .m-nav__inner {
      display: block;
      position: fixed;
      width: 80%;
      height: 100%;
      background-color: #ffffff;
      z-index: 5010;

      .m-nav__login {
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        button {
          color: #ffffff;
          height: 56px;
          border-radius: 30px;
          width: 80%;
          background-color: $purple;
        }
      }

      .m-nav__menu {
        border-top: 1px solid #e8e8ed;
        padding: 15px;
        color: #9b9b9b;
        font-size: 14px;
        ul {
          li {
            a {
              display: inline-block;
              padding: 10px 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  /*-----------푸터---------------*/
  .footer {
    background-color: #f6f9ff;
    margin-top: 20px !important;
    padding: 20px 0 !important;
    .inner {
      div {
      }
      ul {
        li {
          float: left;

          a {
            display: inline-block;

            padding: 0;
          }
        }
      }
    }
  }

  /*--------------인덱스--------------*/
  .community__index {
    // display: none;
  }

  .add-btn__index {
    margin-bottom: 30px;
    margin-top: 20px !important;
    .inner {
      width: 80% !important;
    }
  }

  .banner-index {
    // height: 200px;
    .banner-index__black-cover {
      height: 200px !important;
    }
    .desc {
      font-size: 20px;
    }
    button {
      display: none !important;
    }
    .banner-index__img {
      display: none;
    }
  }

  .banner-index-mobile {
    display: block !important;
    button {
      display: none !important;
    }
    img {
      display: block;
    }
  }

  .trand-issue__index {
    margin-top: 30px;
  }

  .moeny-tip__index {
    margin-top: 30px;
    h1 {
      font-size: 20px !important;
      margin-bottom: 20px;
    }
  }

  .container-2 {
    width: 100% !important;
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    article {
      .trand-issue__banner {
        width: 100% !important;
        .banner__black-cover {
          width: 100% !important;
        }
        .desc {
          .tit {
            font-size: 20px !important;
          }
        }
      }
    }
  }

  .hotdeal-issue__index {
    margin-bottom: 30px;
    h1 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .community__index {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    article {
      padding: 0 !important;
      box-shadow: none;
      float: none !important;
      width: 100% !important;
      margin-right: 0 !important;
      .tit {
        a {
          font-size: 14px;
        }
      }
      .inner {
        ul {
          margin-top: 10px;
          li {
            margin-top: 5px;
            a {
              //   font-size: 14px;
            }
          }
        }
      }
    }
  }

  .community__article--free {
    display: none !important;
  }

  .ad-taboola__index {
    margin-bottom: 0;
  }

  .money-tip__index {
    margin-top: 30px !important;
    h1 {
      font-size: 20px;
      margin-bottom: 20px !important;
    }
    .money-tip__list--index {
      .money-tip__list-item--index {
        // margin-right: 40px;
        // margin-left: 40px;
        a {
          .desc {
            margin-top: 10px;
            .tit {
              font-size: 14px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              height: 40px !important;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
            .author {
              margin-top: 10px;
              color: #9b9b9b;
              font-size: 13px;
            }
          }

          &:hover {
            .tit {
              color: $purple;
            }
          }
        }
      }
    }
  }

  /*--------------트렌드 태그------------*/

  .trand-issue__inner {
    margin-top: 30px !important;
    float: none;
    width: 100%;
    width: 100% !important;
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .filter {
      margin-bottom: 20px !important;
      ul {
        li {
          button {
            font-size: 18px;
          }
        }
      }
    }

    article {
      .trand-issue__banner {
        width: 100% !important;
        .banner__black-cover {
          width: 100% !important;
        }
        .desc {
          .tit {
            font-size: 20px !important;
          }
        }
      }
    }
  }

  article.trand-issue__article {
    margin-bottom: 5px;
    .trand-issue__banner {
      text-align: center;
      .desc {
        // text-align: center;
        padding: 20px;
        bottom: 10px !important;
        // transform: translateX(0%);
        // bottom: 10px !important;
        // line-height: 150px;
        .tit {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          height: 60px !important;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }

        .sub-tit {
        }
        // left: 50%;
        // bottom: 50%;
        // transform: translate(-50%, -50%);
      }
    }
  }

  article.trand-issue__article a .trand-issue__tag-name {
    font-size: 16px;
  }

  article.trand-issue__article:nth-last-of-type(1) {
    margin-bottom: 5px;
  }

  /*-------------돈되는 꿀팁정보----------*/

  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .money-tip {
    margin-top: 30px !important;
    // overflow: hidden;
  }

  .money-tip__inner {
    width: 100%;
    float: none;
  }

  .moeny-tip__list {
    margin-top: 10px !important;
    ul {
      li {
        width: 48%;
        margin-right: 4%;
        float: left;
        margin-bottom: 15px !important;
        a {
          .img {
            img {
              width: 100%;
            }
          }
          .desc {
            margin-top: 10px;
            .tit {
              font-size: 14px;
              height: 42px;
            }
            .author {
              font-size: 13px;
              margin-top: 10px;
              color: #9b9b9b;
            }
          }

          &:hover {
            .tit {
              color: $purple;
            }
          }
        }
      }
    }
  }

  .moeny-tip__list li:nth-child(2n + 0) {
    margin-right: 0 !important;
  }

  /*--------돈되는꿀팁 디테일뷰----------*/
  .money-tip-detailview {
    width: 100%;
    margin-top: -30px;
  }

  .money-tip-detailview__header .tit {
    font-size: 20px;
  }
  .money-tip-detailview__header .sub-tit {
    font-size: 14px;
  }

  .money-tip-detailview__cont .inner {
    padding: 20px;
  }

  .money-tip-detailview__cont .inner p img {
    width: 100%;
  }

  /*-------------핫딜있쓔-------------------*/
  .hotdeal-issue {
    margin-top: 30px !important;
  }

  .hotdeal-issue__inner {
    width: 100%;
    float: none;
  }

  .hotdeal-issue__search {
    margin-top: 10px;
  }

  .hotdeal-issue__list {
    ul {
      li {
        float: left;
        width: 48%;
        margin-right: 4%;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 15px;
        a {
          .img {
            padding: 30px;
            img {
            }
          }
          .desc {
            .tit {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              height: 42px;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              color: #424242;
              font-size: 14px;
              font-family: s-core-dream-regular;
            }
            .price {
              margin-top: 20px;
              color: #111111;
              font-size: 20px;
            }
            .fee {
              margin-top: 5px;
              color: #9b9b9b;
              font-size: 13px;
            }
            .icon {
              margin-top: 5px;
              font-size: 10px;
              color: #ffffff;
              overflow: hidden;
              .icon__site {
                padding: 3px 5px;
                background-color: $purple;
                float: left;
                margin-right: 5px;
                display: inline-block;
              }
              .icon__cum {
                padding: 3px 5px;
                background-color: #d2d6d9;
                float: left;
                display: inline-block;
              }
            }

            .btn {
              float: right;
              margin-top: 10px;

              .share {
                img {
                  width: 20px;
                }
              }
              .like {
                margin-left: 10px;
                img {
                  width: 20px;
                }
              }
            }
          }
          &:hover {
            .tit {
              color: $purple;
            }
          }
        }
      }
    }
  }

  .hotdeal-issue__list li:nth-child(2n + 0) {
    margin-right: 0 !important;
  }
  .hotdeal-issue__list li:nth-of-type(5n + 0) {
    margin-right: 4%;
  }

  /*-------------커뮤니티--------------*/
  .community {
    margin-top: 30px !important;
  }

  .community__inner {
    float: none;
    width: 100% !important;
    .filter-cate {
      display: none;
      margin-bottom: 15px !important;
      box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
      height: 56px;
      line-height: 56px;
      .filter-cate__inner {
        ul {
          li {
            float: left;
            a {
              font-size: 14px;
              padding: 0 20px;
              &:hover {
                color: $purple;
              }
            }
          }
        }
      }
    }

    .filter {
      margin-top: 0px !important;
      margin-bottom: 10px;
      ul {
        li {
          float: left;
          button {
            font-size: 16px !important;
          }
        }
        li.btn {
          float: right;
          button {
            // margin-top: -15px;
            img {
              width: 20px !important;
            }
          }
        }

        li:nth-of-type(1) {
          margin-right: 25px;
        }
      }
    }
  }

  .community__cont {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  /*-----커뮤니티 디테일뷰-----*/

  .community-detailview {
    margin-top: -20px !important;
  }
  .community-detailview__header {
    .tit {
      font-size: 20px !important;
    }
    .sub-tit {
      font-size: 14px;
      .desc {
        div {
          margin-top: 5px;
        }
      }
    }
  }

  .community-detailview__cont .inner {
    padding: 20px !important;
  }

  .community-detailview__btn,
  .community-detailview__write,
  .community-detailview__commnet {
    margin-top: 10px !important;
  }

  .community-detailview__commnet article .article-sub {
    padding: 20px 20px 20px 50px !important;
  }

  /*----------트랜드이슈 디테일뷰------------*/
  .banner-issue-tag {
    height: 400px;
    .banner__black-cover {
      height: 400px;
    }

    .banner-issue-tag__tit {
      font-size: 25px;
      text-align: left;
    }
  }

  .trnas-issue-detailveiw__desc {
    margin-bottom: 10px;
    .tit {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .trnas-issue-detailveiw__article {
    margin-top: 30px;
    margin-bottom: 0;
    .tit {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .cont {
      ul {
        li {
          margin-bottom: 10px;
          a {
            font-size: 16px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .trnas-issue-detailveiw__youtube {
    margin-top: 30px;
    margin-bottom: 0;
    .tit {
      font-size: 20px;
    }
    .cont {
      ul {
        li {
          padding: 10px 0;
          .thumbnail {
            width: 120px;
            height: 120px;
            position: relative;
            img {
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              width: 120px;
              height: 90px;
            }
          }
          .desc {
            width: 62%;
            padding: 10px;
            height: 120px;
            .youtube__tit {
              font-size: 16px;
              a {
              }
            }
            .youtube__sub-tit {
              font-size: 14px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              height: 40px;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
            .youtub__athor {
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .trnas-issue-detailveiw__opinion-vote {
    margin-top: 30px;
    .btn {
      ul {
        li {
          margin-right: 10px;
          margin-left: 10px;
          button {
            height: 56px;
            width: 130px;
            span {
              top: 78px;
            }
          }
        }
      }
    }
  }

  .trnas-issue-detailveiw__opinion-conmmnet {
    margin-top: 70px;
    margin-bottom: 10px;

    .commnet-btn {
      margin-top: 30px;
      ul {
        li {
          button {
            margin-right: 20px;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .commnet-inner {
      article {
        padding: 10px;
        height: 120px;

        .desc {
          margin-right: 15px;
        }
      }
    }
  }

  /*----팝업----*/
  /*-- 글쓰기 팝업---*/
  .pop-up__commnet-write {
    width: 100%;
    height: 100%;

    .inner {
      width: 100vw;
    }
  }

  /*-- 댓글보기 팝업--*/
  .pop-up__commnet-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    .inner {
      width: 100%;
      height: 100%;
    }
  }
}
