@import "partial/styles";

.money-tip {
  margin-top: 50px;
  overflow: hidden;
}

.money-tip__inner {
  width: 1000px;
  float: right;
}

.moeny-tip__list {
  margin-top: 15px;
  ul {
    li {
      width: 235px;
      margin-right: 20px;
      float: left;
      margin-bottom: 20px;
      a {
        .img {
          img {
            width: 235px;
          }
        }
        .desc {
          margin-top: 10px;
          .tit {
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            height: 48px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
          .author {
            margin-top: 15px;
            color: #9b9b9b;
            font-size: 14px;
          }
        }

        &:hover {
          .tit {
            color: $purple;
          }
        }
      }
    }
  }
}

.moeny-tip__list li:nth-of-type(4n) {
  margin-right: 0;
}
