@import "partial/styles";

.moeny-tip__list {
  ul {
    li {
      width: 280px;
      margin-right: 20px;
      float: left;
      margin-bottom: 20px;
      a {
        .img {
          img {
            width: 280px;
          }
        }
        .desc {
          margin-top: 10px;
          .tit {
            font-size: 18px;
          }
          .author {
            margin-top: 15px;
            color: #9b9b9b;
          }
        }

        &:hover {
          .tit {
            color: $purple;
          }
        }
      }
    }
  }
}

.moeny-tip__list li:nth-of-type(4n) {
  margin-right: 0;
}
