@import "partial/styles";

/*------레이아웃-----*/
.container {
  margin: 0 auto;
  width: 1180px;
}

.container-2 {
  margin: 0 auto;
  width: 730px;
}

.ad-taboola__index {
  color: black;
  margin-bottom: 50px;
  .inner {
    background-color: #e8e8ed;
    height: 500px;
  }
}

/*---------------헤더----------------*/
.header {
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;

  height: 80px;
  overflow: hidden;
  .header__logo {
    float: left;
    margin-left: 100px;
    line-height: 80px;

    a {
    }
  }
  .header__nav {
    float: right;
    margin-right: 84px;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 27px 15px;
          &:hover {
            color: $purple;
            font-weight: 500;
          }
        }
      }
      .header__nav--login {
        margin-left: 30px;
        a {
          margin-left: 100px;
        }
      }
    }
  }
}
