/*------레이아웃-----*/
.container {
  margin: 0 auto;
  width: 1180px;
}

/*---------------헤더----------------*/
.header {
  height: 80px;
  overflow: hidden;
  line-height: 40px;
  .header__logo {
    float: left;
    margin-left: 100px;
    a {
    }
  }
  .header__nav {
    float: right;
    margin-right: 85px;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 10px 15px;
          &:hover {
            color: $purple;
          }
        }
      }
    }
  }
}
