@import "partial/styles";

.trans-issue {
  overflow: hidden;
}

.trand-issue__inner {
  float: left;
  width: 730px;
  margin: 0 auto;
  margin-top: 50px;
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    em {
      font-weight: 500;
      color: $purple;
    }
  }

  .filter {
    // margin-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
    ul {
      display: inline-block;
      li {
        float: left;
        button {
          font-size: 20px;
        }
      }
      li:nth-of-type(1) {
        margin-right: 30px;
      }
    }
  }
}

article.trand-issue__article {
  margin-bottom: 10px;
  a {
    .trand-issue__tag-name {
      font-size: 25px;
      color: #111111;
    }
    .trand-issue__banner {
      margin-top: 10px;
      height: 150px;
      width: 730px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background: url(/img/banner-index.jpg);

      .banner__black-cover {
        background-color: #000000;
        opacity: 0.7;
        width: 730px;
        height: 150px;
      }
      .desc {
        width: 100%;

        position: absolute;
        bottom: 0px;
        left: 0px;
        color: #ffffff;
        font-weight: 300;
        padding: 20px;

        .tit {
          font-size: 25px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          height: 74px;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          font-weight: 100 !important;
        }
        .sub-tit {
          text-align: center;

          // color: #9b9b9b;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 100;
          em {
            color: #ffffff;
            font-weight: 400;
          }
        }
      }
    }

    &:hover {
      .trand-issue__tag-name {
        color: $purple;
      }
    }
    .trand-issue_border {
      margin-top: 10px;
      height: 1px;
      width: 100%;
      background-color: #e8e8ed;
    }
  }
}

article.trand-issue__article:nth-last-of-type(1) {
  margin-bottom: 0;
}

/*--------------트랜드 이슈 디테일뷰--------------*/

.banner-issue-tag {
  margin-bottom: 50px;
  height: 900px;
  // background: url(../img/banner-index.jpg) no-repeat center;
  background: no-repeat center;

  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  .banner__black-cover {
    background-color: #000000;
    opacity: 0.7;
    height: 900px;
    position: relative;
  }

  .banner-issue-tag__tit {
    width: 100%;
    text-align: center;
    z-index: 1000;
    color: #ffffff;
    // text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: "Nanum Myeongjo", serif;
  }
}

.trnas-issue-detailveiw__desc {
  margin-bottom: 70px;

  .tit {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .cont {
  }
}

.trnas-issue-detailveiw__article {
  margin-bottom: 40px;
  .tit {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .cont {
    ul {
      li {
        border-bottom: 1px solid #e8e8ed;
        margin-bottom: 20px;
        a {
          font-size: 20px;
          display: inline-block;
          padding-bottom: 20px;
          &:hover {
            color: $purple;
          }

          &:active {
            color: #aaaaaa;
          }
        }
      }
    }
  }
}

.trnas-issue-detailveiw__youtube {
  margin-top: 50px;
  margin-bottom: 40px;
  .tit {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .cont {
    ul {
      li {
        overflow: hidden;
        border-bottom: 1px solid #e8e8ed;
        padding: 20px 0;
        // flex: 1;
        .thumbnail {
          float: left;
          width: 320px;
          height: 180px;
          img {
            width: 320px;
            width: 100%;
            display: block;
            height: 180px;
          }
        }

        .desc {
          height: 180px;
          width: 56%;
          float: left;
          padding: 20px 10px;
          position: relative;
          .youtube__tit {
            font-size: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 10px;
            a {
              &:hover {
                color: $purple;
              }
              &:active {
                color: #aaaaaa;
              }
            }
          }
          .youtube__sub-tit {
            color: #9b9b9b;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            height: 72px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
          .youtub__athor {
            position: absolute;
            bottom: 20px;
            color: #9b9b9b;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.trnas-issue-detailveiw__opinion-vote {
  margin-top: 50px;
  .btn {
    text-align: center;
    ul {
      display: inline-block;
      li {
        margin-right: 25px;
        margin-left: 25px;
        float: left;
        button {
          position: relative;

          color: #333333;
          text-align: center;
          width: 150px;
          height: 68px;
          border-radius: 37px;
          box-shadow: rgba(41, 42, 43, 0.1) 0px 4px 10px,
            rgba(41, 42, 43, 0.04) 0px 1px 0px;

          span {
            position: absolute;
            top: 88px;
            left: 50%;
            color: #333333 !important;
          }

          &:hover {
            background-color: $purple;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.trnas-issue-detailveiw__opinion-conmmnet {
  margin-top: 80px;
  margin-bottom: 40px;
  .inner {
    border-top: 1px solid #e8e8ed;
  }

  .commnet-btn {
    margin-top: 50px;
    margin-bottom: 30px;
    ul {
      li {
        float: left;
        button {
          margin-right: 20px;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .commnet-inner {
    article {
      border: 1px solid #e8e8ed;
      // position: relative;
      margin-bottom: 5px;
      // height: 140px;

      padding: 20px;
      display: flex;
      .profile-img {
        margin-right: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #e8e8ed;
          object-fit: cover;
        }
      }
      .desc {
        position: relative;
        width: 100%;
        font-size: 14px;
        margin-right: 56px;
        .user-name {
          font-weight: 500;
          color: #111111;
          margin-bottom: 5px;
        }
        .cont {
          img {
            margin-top: 10px;
            display: block;
          }
          // display: -webkit-box;
          // -webkit-line-clamp: 2;
          // -webkit-box-orient: vertical;

          // height: 40px;

          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: normal;
        }
        .commnet-add-btn {
          margin-top: 10px;
          // position: absolute;
          // bottom: 0px;
          button {
            font-size: 14px;
            color: #9b9b9b;
          }
        }
      }

      .like-btn {
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // line-height: 100px;
        position: relative;

        button {
          position: absolute;
          top: 50%;
          right: 0;
          // right: px;
          transform: translateY(-50%);
          font-size: 14px;
          vertical-align: middle;

          img {
            width: 16px;
          }
          div {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/*---------------팝업--------------*/

.pop-up__commnet-view {
  // display: blocks;
  display: none;

  background-color: #ffffff;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 5010;
  top: 50%;
  left: 50%;

  .inner {
    width: 730px;
    .pop-up__header {
      height: 56px;
      border-bottom: 1px solid $purple;
      button {
        margin-top: 20px;
        margin-left: 20px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .cont {
      .opinion {
        display: flex;
        border-bottom: 1px solid #e8e8ed;
        padding: 20px;

        .profile-img {
          margin-right: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e8e8ed;
            object-fit: cover;
          }
        }
        .user-desc {
          width: 100%;
          .user-name {
            font-size: 14px;
            font-weight: 500;
          }
          .user-opinion {
            margin-top: 5px;
            font-size: 14px;
          }
        }
      }

      .commnet {
        border-bottom: 1px solid #e8e8ed;
        overflow: scroll;
        max-height: 400px;
        -ms-overflow-style: none;

        .commnet-article {
          display: flex;
          padding: 10px 20px 10px 40px;
          .profile-img {
            margin-right: 10px;
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              border: 1px solid #e8e8ed;
              object-fit: cover;
            }
          }
          .user-desc {
            width: 100%;
            .user-name {
              font-size: 14px;
              font-weight: 500;
            }
            .user-commnet {
              margin-top: 5px;
              font-size: 14px;
            }
          }
        }
      }
      .commnet::-webkit-scrollbar {
        display: none !important;
      }
    }

    .commnet-write {
      height: 56px;
      .inner {
        display: flex;
        border-bottom: 1px solid #e8e8ed;
        textarea {
          padding: 15px 20px;
          width: 100%;
          height: 56px;
          border: 0;
        }
        button {
          height: 56px;
          line-height: 56px;
          width: 130px;
          color: $purple;
          font-weight: 500;
        }
      }
    }
  }
}
.commnet-article:nth-of-type(1) {
  margin-top: 5px;
}

.commnet-article:nth-last-child(1) {
  margin-bottom: 0px;
}

.pop-up__commnet-write {
  display: none;
  background-color: #ffffff;
  z-index: 5010;
  background-color: #ffffff;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 5010;
  top: 50%;
  left: 50%;
  .inner {
    width: 730px;

    .pop-up__header {
      height: 56px;
      border-bottom: 1px solid $purple;
      z-index: 10;
      button.cancel {
        margin-top: 18px;
        padding: 0 20px;
        background-color: transparent !important;

        img {
          width: 20px;
          height: 20px;
        }
      }
      button.write {
        background-color: transparent !important;

        padding: 0 20px;
        margin-top: 18px;

        float: right;
        color: $purple;
        font-weight: 500;
      }
    }

    .cont {
      padding: 20px;
      textarea {
        width: 100%;
        height: 200px;
        border: 0;
      }
    }

    .pop-up__commnet-write-footer {
      height: 56px;
      button {
        // line-height: 56px;
        // padding: 0 20px;
        padding-left: 20px;

        img {
          width: 35px;
        }
      }
    }
  }
}
